<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <listener>
        <listener-class>com.conarhco.torrent.ee.LifeListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>TrackerSearchServlet</servlet-name>
        <servlet-class>com.conarhco.torrent.ee.TrackerSearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFilmsServlet</servlet-name>
        <servlet-class>com.conarhco.torrent.ee.GetFilmsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>com.conarhco.torrent.ee.DownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailsServlet</servlet-name>
        <servlet-class>com.conarhco.torrent.ee.DetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FreeSpaceServlet</servlet-name>
        <servlet-class>com.conarhco.torrent.ee.FreeSpaceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTorrentServlet</servlet-name>
        <servlet-class>com.conarhco.torrent.downloader.GetTorrentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TrackerSearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFilmsServlet</servlet-name>
        <url-pattern>/films</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailsServlet</servlet-name>
        <url-pattern>/details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FreeSpaceServlet</servlet-name>
        <url-pattern>/free</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTorrentServlet</servlet-name>
        <url-pattern>/getTorrent</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
